header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 20px;
}
.alar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.alar a{
    text-decoration: none;
    color: white;
}
section{
    width: 100%;
    height: 800px;
    background: #1c222e;
}
a:hover{
    color: #1154db;
}
main{
    color: white;
    width: 770px;
    position: absolute;
    top: 25%;
}
main h1{
    font-size: 270%;
}
main h2{
    font-size: 170%;
}
main h3{
    font-size: 170%;
}
main button{
    width: 27%;
    height: 30px;
    border-radius: 30px;
    background-color:  #00EEFF;
}
.zet{
    position: absolute;
    left: 60%;
    top: -1%;
}
@media(max-width: 800px){
    main h1{
        font-size: 240%;
    }
    main h2{
        font-size: 140%;
    }
    main h3{
        font-size: 140%;
    }
    .alar a{
        display: none;
    }
    .div button{
        display: block;
    }
}
@media(max-width: 400px){
    main{
        text-align: center;
    }
    main h1{
        font-size: 200%;
    }
    main h2{
        font-size: 100%;
    }
    main h3{
        font-size: 100%;
    }
    .zet{
        display: flex;
        flex-wrap: wrap;
    }
    
}
.section2{
    background: #323946;

}
.card{
    width: 319.34px;
height: 280px;
text-align: center;
background: #1F242D;
border-radius: 40px;
color: white;
}
.cards{
    width: 319.34px;
height: 280px;
text-align: center;
background: #1F242D;
border-radius: 40px;
color: white;
}
.card button{
    width: 170px;
    height: 40px;
    border-radius: 30px;
    background-color: #00EEFF;
}
.cards button{
    width: 170px;
    height: 40px;
    border-radius: 30px;
    background-color: #00EEFF;
}
.section2 h1{
    text-align: center;
    color: white;
}
.section2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.h1 {
    position: absolute;
    top: 790px;
}
@media(max-width:1000px){
    .card{
        width: 268.34px;
    height: 337px;
    text-align: center;
    background: #1F242D;
    border-radius: 40px;
    color: white;
    }
}
@media(max-width:500px){
    main{
        width: 268.34px;
    height: 337px;
    text-align: center;
    background: #1F242D;
    border-radius: 40px;
    color: white;
    }
     .zet img{
        flex-direction: column;
    }
    .section2{
        flex-wrap: wrap;
    }
    .cards button{
        width: 170px;
        height: 40px;
        border-radius: 30px;
        background-color: #00EEFF;
    }
    .cards{
        width: 319.34px;
    height: 280px;
    text-align: center;
    background: #1F242D;
    border-radius: 40px;
    color: white;
    }
}
.lne .hla{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap ;
    
}
.lar{
    width: 200px;
    height: 150px;
    background: #323946;
}
.ladrf{
    width: 200px;
    height: 150px;
    background: #323946;
}
.ladf{
    width: 200px;
    height: 150px;
    background: #323946;
}
.ladd{
    width: 200px;
    height: 150px;
    background: #323946;
}
.ladt{
    width: 200px;
    height: 150px;
    background: #323946;
}
.ladw{
    width: 200px;
    height: 150px;
    background: #323946;
}
footer{
    background-color: #1c222e;
}

